.landing {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: 'Verdana';
}

@font-face {
    font-family: 'Verdana';
    src: local('Verdana'), url('../../assets/fonts/Verdana.ttf') format('truetype');
}

.landing-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 auto;
}

.landing-title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.stack-container {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.stack-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stack-title {
    text-align: center;
    font-weight: 600;
}

.login-button-container {
    display: flex;
    justify-content: center;
    flex-grow: 0.4;
}

.login-link {
    align-self: flex-start;
}

.login-link-button {
    color: white;
    background-color: var(--shell-red);
    font-weight: 600;
    padding: 5px 10px;
    border: 2px solid var(--shell-red);
    border-radius: 4px;
}

.no-tooltips {
    pointer-events: none;
}
