.page-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.page-title{
    display: flex;
    font-size: 60px;
    font-weight: 1000;
    margin-bottom: 40px;
}

.page-title-sm{
    display: flex;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 40px;
}

.loading-not-found{
    display: flex;
}