:root {
    --shell-red:#da291c;
    --shell-yellow: #ffcd00;
}

.header{
    top:0;
    width: 100%;
    border-bottom: 5px solid var(--shell-yellow);
}

.Shell-logo{
    height: 30px;
    margin: 15px;
}

