.sidebar-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    width: 4vw;
    min-width: 45px;
    border-right: 4px solid var(--shell-yellow);
    flex-shrink: 0;
}

.sidebar-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 0;
}

.menu-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
}

.menu-icon {
    height: 30px;
}

.selected-item {
    background-color: rgba(218, 41, 28, 0.9);
}

.menu-title {
    color: var(--bs-body-color);
    font-size: 12px;
    font-weight: 600;
}
